name: Build and Publish Package

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Download Jars
        run: mvn dependency:copy-dependencies -DoutputDirectory=duckling_chinese/jars

      - name: Test
        run: |
          pip install .
          python -m unittest

      - name: Build a binary wheel and a source tarball
        run: |
          pip install build
          python -m build

      - name: Store the distribution packages
        uses: actions/upload-artifact@v6
        with:
          name: python-package-distributions
          path: dist/

  publish:
      name: Publish Python distribution to PyPI
      if: startsWith(github.ref, 'refs/tags/')
      needs:
        - build
      runs-on: ubuntu-latest
      environment:
        name: pypi
        url: https://pypi.org/p/duckling-chinese
      permissions:
        id-token: write
      steps:
        - name: Download all the dists
          uses: actions/download-artifact@v7
          with:
            name: python-package-distributions
            path: dist/

        - name: Publish distribution to PyPI
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            password: ${{ secrets.PYPI_API_TOKEN }}
